.App {
  height: 100%;
  
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27);
  color: white;
}
